<div class="row mb-2 justify-content-center align-items-center">
  <div class="col-md-10">
    <div *ngFor="let product of products" class="border rounded-lg overflow-hidden">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">{{ product.title | uppercase }}</strong>
          <h3 class="mb-0 text-danger">{{product.price}}đ</h3>
          <br>
          <p class="card-text mb-auto">{{product.description}}</p>
          <a [routerLink]="['/details', product.id]" class="icon-link gap-1 icon-link-hover stretched-link">
            <button class="btn btn-sm w200 btn-outline-secondary">View</button>
            <svg class="bi">
              <use xlink:href="#chevron-right" />
            </svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <div class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
            aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <a [routerLink]="['details', product.id]">
              <img src="{{ product.thumbnail }}" alt="{{ product.title }}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>