<div class="infor">
  <p>Số nhà 22 Ngõ 115 Phố Núi Trúc, Kim Mã, Hà Nội</p>
  <P>HOTLINE: <a href="tel:0862926866">086 292 6866</a> </P>
</div>
<header class="bg-black bg-opacity-40 py-4">
  <ul class="flex justify-center space-x-8">
    <li><a routerLink="/" class="text-white hover:text-gray-300">Home</a></li>
    <li><a routerLink="/shop" class="text-white hover:text-gray-300">Shop</a></li>
    <li><a routerLink="/register" class="text-white hover:text-gray-300">Register</a></li>
    <li><a routerLink="/login" class="text-white hover:text-gray-300">Login</a></li>
  </ul>
</header>
<div class="banner">
  <img [src]="imageUrl" alt="banner">
</div>